<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" mc:Ignorable="w14 w15">
  <w:zoom w:percent="130"/>
  <w:bordersDoNotSurroundHeader/>
  <w:bordersDoNotSurroundFooter/>
  <w:defaultTabStop w:val="719"/>
  <w:characterSpacingControl w:val="doNotCompress"/>
  <w:hdrShapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="2049"/>
  </w:hdrShapeDefaults>
  <w:footnotePr>
    <w:footnote w:id="-1"/>
    <w:footnote w:id="0"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="-1"/>
    <w:endnote w:id="0"/>
  </w:endnotePr>
  <w:compat>
    <w:useFELayout/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15"/>
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00B47730"/>
    <w:rsid w:val="00016D5A"/>
    <w:rsid w:val="00034616"/>
    <w:rsid w:val="0003675A"/>
    <w:rsid w:val="00043C4E"/>
    <w:rsid w:val="00057EC5"/>
    <w:rsid w:val="0006063C"/>
    <w:rsid w:val="00061DBF"/>
    <w:rsid w:val="0008539F"/>
    <w:rsid w:val="00090BB8"/>
    <w:rsid w:val="00093493"/>
    <w:rsid w:val="00097FC3"/>
    <w:rsid w:val="000A65AD"/>
    <w:rsid w:val="000B793E"/>
    <w:rsid w:val="000B7A50"/>
    <w:rsid w:val="000C4AE8"/>
    <w:rsid w:val="000D4CF3"/>
    <w:rsid w:val="000F4A37"/>
    <w:rsid w:val="000F7339"/>
    <w:rsid w:val="000F79F5"/>
    <w:rsid w:val="001103BE"/>
    <w:rsid w:val="00115364"/>
    <w:rsid w:val="001417B2"/>
    <w:rsid w:val="001447B7"/>
    <w:rsid w:val="00145C4A"/>
    <w:rsid w:val="0015074B"/>
    <w:rsid w:val="00151A4B"/>
    <w:rsid w:val="001526C7"/>
    <w:rsid w:val="00154254"/>
    <w:rsid w:val="001575F6"/>
    <w:rsid w:val="00161A90"/>
    <w:rsid w:val="00177DB7"/>
    <w:rsid w:val="001808B2"/>
    <w:rsid w:val="00181E2E"/>
    <w:rsid w:val="001A290D"/>
    <w:rsid w:val="001A6C0B"/>
    <w:rsid w:val="001B5A09"/>
    <w:rsid w:val="001D760A"/>
    <w:rsid w:val="001E38D6"/>
    <w:rsid w:val="002079B4"/>
    <w:rsid w:val="00214749"/>
    <w:rsid w:val="00225472"/>
    <w:rsid w:val="00231169"/>
    <w:rsid w:val="002404BA"/>
    <w:rsid w:val="00244E48"/>
    <w:rsid w:val="002466C0"/>
    <w:rsid w:val="0026025C"/>
    <w:rsid w:val="00276DFC"/>
    <w:rsid w:val="00283237"/>
    <w:rsid w:val="00291525"/>
    <w:rsid w:val="00291F69"/>
    <w:rsid w:val="0029639D"/>
    <w:rsid w:val="002A34D4"/>
    <w:rsid w:val="002A5A02"/>
    <w:rsid w:val="002D22F3"/>
    <w:rsid w:val="0031485F"/>
    <w:rsid w:val="00316B74"/>
    <w:rsid w:val="00326F90"/>
    <w:rsid w:val="00330382"/>
    <w:rsid w:val="00331F79"/>
    <w:rsid w:val="0034369E"/>
    <w:rsid w:val="0037795B"/>
    <w:rsid w:val="003A5AE2"/>
    <w:rsid w:val="003B2645"/>
    <w:rsid w:val="003B49B6"/>
    <w:rsid w:val="003C586A"/>
    <w:rsid w:val="003D0466"/>
    <w:rsid w:val="003F079C"/>
    <w:rsid w:val="00413BC9"/>
    <w:rsid w:val="00433539"/>
    <w:rsid w:val="00455F8D"/>
    <w:rsid w:val="00484C05"/>
    <w:rsid w:val="0049059A"/>
    <w:rsid w:val="00496FCC"/>
    <w:rsid w:val="004A52BD"/>
    <w:rsid w:val="004A5F3B"/>
    <w:rsid w:val="004D7F6F"/>
    <w:rsid w:val="004E22E2"/>
    <w:rsid w:val="004E2AF1"/>
    <w:rsid w:val="004F4D3D"/>
    <w:rsid w:val="004F5570"/>
    <w:rsid w:val="00506FF6"/>
    <w:rsid w:val="005356E7"/>
    <w:rsid w:val="005404FF"/>
    <w:rsid w:val="0055579D"/>
    <w:rsid w:val="005656DB"/>
    <w:rsid w:val="0056717C"/>
    <w:rsid w:val="00581822"/>
    <w:rsid w:val="00590C90"/>
    <w:rsid w:val="005D3B31"/>
    <w:rsid w:val="005E3036"/>
    <w:rsid w:val="005F66AA"/>
    <w:rsid w:val="00612F91"/>
    <w:rsid w:val="00626AA7"/>
    <w:rsid w:val="0063062F"/>
    <w:rsid w:val="00635288"/>
    <w:rsid w:val="0064407B"/>
    <w:rsid w:val="00661F69"/>
    <w:rsid w:val="0066228A"/>
    <w:rsid w:val="00663EAA"/>
    <w:rsid w:val="00684743"/>
    <w:rsid w:val="00690C2E"/>
    <w:rsid w:val="006932FF"/>
    <w:rsid w:val="006D7513"/>
    <w:rsid w:val="006E06A6"/>
    <w:rsid w:val="006E187B"/>
    <w:rsid w:val="006E341B"/>
    <w:rsid w:val="006E733A"/>
    <w:rsid w:val="00702188"/>
    <w:rsid w:val="0072361E"/>
    <w:rsid w:val="0072537C"/>
    <w:rsid w:val="00730C6A"/>
    <w:rsid w:val="00744D37"/>
    <w:rsid w:val="00757242"/>
    <w:rsid w:val="007738CE"/>
    <w:rsid w:val="00774793"/>
    <w:rsid w:val="007A1205"/>
    <w:rsid w:val="007A7903"/>
    <w:rsid w:val="007B4630"/>
    <w:rsid w:val="007E6658"/>
    <w:rsid w:val="007F0BA3"/>
    <w:rsid w:val="007F156F"/>
    <w:rsid w:val="008050B1"/>
    <w:rsid w:val="00811D32"/>
    <w:rsid w:val="00815517"/>
    <w:rsid w:val="008406CC"/>
    <w:rsid w:val="00843A17"/>
    <w:rsid w:val="008603CC"/>
    <w:rsid w:val="0087603C"/>
    <w:rsid w:val="00881A46"/>
    <w:rsid w:val="00892856"/>
    <w:rsid w:val="008B066E"/>
    <w:rsid w:val="008B5645"/>
    <w:rsid w:val="008C5564"/>
    <w:rsid w:val="008D5881"/>
    <w:rsid w:val="008E3CE5"/>
    <w:rsid w:val="00902A92"/>
    <w:rsid w:val="009076CB"/>
    <w:rsid w:val="00920434"/>
    <w:rsid w:val="0092527B"/>
    <w:rsid w:val="0093492F"/>
    <w:rsid w:val="00936A42"/>
    <w:rsid w:val="00941D69"/>
    <w:rsid w:val="00942C6A"/>
    <w:rsid w:val="00943F38"/>
    <w:rsid w:val="009555E7"/>
    <w:rsid w:val="00962BF0"/>
    <w:rsid w:val="00970403"/>
    <w:rsid w:val="009A5DA4"/>
    <w:rsid w:val="009D6D1C"/>
    <w:rsid w:val="009F4A1C"/>
    <w:rsid w:val="00A17747"/>
    <w:rsid w:val="00A46993"/>
    <w:rsid w:val="00A55610"/>
    <w:rsid w:val="00A66FBA"/>
    <w:rsid w:val="00A72235"/>
    <w:rsid w:val="00A75CE9"/>
    <w:rsid w:val="00A82AA4"/>
    <w:rsid w:val="00A907D8"/>
    <w:rsid w:val="00A94182"/>
    <w:rsid w:val="00AA1D8D"/>
    <w:rsid w:val="00AB0F6C"/>
    <w:rsid w:val="00AC2448"/>
    <w:rsid w:val="00AE0456"/>
    <w:rsid w:val="00AF7E91"/>
    <w:rsid w:val="00B03365"/>
    <w:rsid w:val="00B10773"/>
    <w:rsid w:val="00B30165"/>
    <w:rsid w:val="00B302E4"/>
    <w:rsid w:val="00B4198A"/>
    <w:rsid w:val="00B42A24"/>
    <w:rsid w:val="00B44E65"/>
    <w:rsid w:val="00B47730"/>
    <w:rsid w:val="00B51165"/>
    <w:rsid w:val="00B76686"/>
    <w:rsid w:val="00B8086F"/>
    <w:rsid w:val="00B92239"/>
    <w:rsid w:val="00BA24CF"/>
    <w:rsid w:val="00BA2587"/>
    <w:rsid w:val="00BA7C9D"/>
    <w:rsid w:val="00BA7E60"/>
    <w:rsid w:val="00BB5944"/>
    <w:rsid w:val="00BB5D50"/>
    <w:rsid w:val="00BC20A3"/>
    <w:rsid w:val="00BC751C"/>
    <w:rsid w:val="00BE283C"/>
    <w:rsid w:val="00BE4CF3"/>
    <w:rsid w:val="00BF2796"/>
    <w:rsid w:val="00BF6F03"/>
    <w:rsid w:val="00C038E0"/>
    <w:rsid w:val="00C156B4"/>
    <w:rsid w:val="00C224E7"/>
    <w:rsid w:val="00C30285"/>
    <w:rsid w:val="00C42FF1"/>
    <w:rsid w:val="00C45A83"/>
    <w:rsid w:val="00C4626D"/>
    <w:rsid w:val="00C5178B"/>
    <w:rsid w:val="00C72181"/>
    <w:rsid w:val="00C878DB"/>
    <w:rsid w:val="00C937B5"/>
    <w:rsid w:val="00C97BAB"/>
    <w:rsid w:val="00CA4418"/>
    <w:rsid w:val="00CB0664"/>
    <w:rsid w:val="00CB31D6"/>
    <w:rsid w:val="00CD76B1"/>
    <w:rsid w:val="00CF1C9B"/>
    <w:rsid w:val="00D10776"/>
    <w:rsid w:val="00D13440"/>
    <w:rsid w:val="00D179B2"/>
    <w:rsid w:val="00D21D6F"/>
    <w:rsid w:val="00D326BA"/>
    <w:rsid w:val="00D36862"/>
    <w:rsid w:val="00D4733F"/>
    <w:rsid w:val="00D52420"/>
    <w:rsid w:val="00D5570A"/>
    <w:rsid w:val="00D716D6"/>
    <w:rsid w:val="00D77841"/>
    <w:rsid w:val="00D94751"/>
    <w:rsid w:val="00DA2A5C"/>
    <w:rsid w:val="00DB5372"/>
    <w:rsid w:val="00DB7A72"/>
    <w:rsid w:val="00DD5FD3"/>
    <w:rsid w:val="00DE4B78"/>
    <w:rsid w:val="00E0048A"/>
    <w:rsid w:val="00E027B2"/>
    <w:rsid w:val="00E27B98"/>
    <w:rsid w:val="00E32E27"/>
    <w:rsid w:val="00E34907"/>
    <w:rsid w:val="00E52A63"/>
    <w:rsid w:val="00E758DA"/>
    <w:rsid w:val="00E82A91"/>
    <w:rsid w:val="00E83DB5"/>
    <w:rsid w:val="00EB4892"/>
    <w:rsid w:val="00F04B7D"/>
    <w:rsid w:val="00F07D67"/>
    <w:rsid w:val="00F372E3"/>
    <w:rsid w:val="00F468D3"/>
    <w:rsid w:val="00F52E41"/>
    <w:rsid w:val="00F57DD1"/>
    <w:rsid w:val="00F77365"/>
    <w:rsid w:val="00F81E1C"/>
    <w:rsid w:val="00F938A8"/>
    <w:rsid w:val="00F95A70"/>
    <w:rsid w:val="00FB08A2"/>
    <w:rsid w:val="00FC2068"/>
    <w:rsid w:val="00FC693F"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="ja-JP"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:doNotAutoCompressPictures/>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="2049"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:decimalSymbol w:val="."/>
  <w:listSeparator w:val=","/>
  <w14:defaultImageDpi w14:val="300"/>
  <w15:docId w15:val="{A34589A7-A118-460E-996B-79329E7EC0A7}"/>
</w:settings>
